<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="#" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">Pet Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    

                    {% if current_user.is_authenticated %}
                    
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('getpet') }}">Pet</a>
                    </li>
                    <li class="nav-item" style="text-align:right">
                        <a class="nav-link active" href="{{ url_for('wishlist') }}">Wishlist</a>
                    </li>
                    <p style='color: whitesmoke; text-align:justify'>&nbsp;&nbsp;&nbsp; <u>Hello {{current_user.username}}.
                    ({{current_user.category_name}})</u></p>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item" style="text-align:right">
                        <a class="nav-link active" href="{{ url_for('logout') }}">Logout</a>
                    </li>

                    {% else %}
                    
                    <li class="nav-item" style="text-align:right">
                        <a class="nav-link active" href="{{ url_for('getregister') }}">Signup</a>
                    </li>
                    <li class="nav-item" style="text-align:right">
                        <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item" style="text-align:right">
                        <a class="nav-link active" href="{{ url_for('github_login') }}">Github Login</a>
                    </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <li class="nav-item" style="text-align:right">
                        <a class="nav-link active" href="{{ url_for('login_github') }}">Another Github Login</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    
    {% block scripts %}
    
    {% endblock %}
</body>

</html>